<!-- Hình ảnh bìa -->
<div class="home-container"></div>
<div class="image-wrapper">
  <h1>Dịch Vụ & Tiện Ích</h1>
  <div class="image-overlay">
    <img src="assets/image/service.png" alt="" />
  </div>
</div>

<div class="body-container">
  <h2 class="title">TỔNG QUAN</h2>
  <hr />
  <figure class="image-container">
    <img src="assets/image/Four-season-pool-3.png" alt="" />
  </figure>
  <div class="small-container">
    <h3 class="subtitle">
      Nơi biến những sự kiện trở nên đáng nhớ hơn bao giờ hết!
    </h3>
    <p>
      Không chỉ đơn thuần là một nơi lưu trú, Hotel Dé Luna đem đến cho khách
      hàng một kỳ nghỉ trọn vẹn với những trải nghiệm vô cùng đa dạng. Từ nghỉ
      dưỡng đẳng cấp với không gian tràn ngập sắc xanh của thiên nhiên hùng vĩ,
      đến những món ăn ngon, những thức uống tuyệt hảo hay những liệu trình thư
      giãn, Hôtel de l’Amour Tam Đảo cam kết mang lại cho bạn kỳ nghỉ trọn vẹn
      cảm xúc và ngập tràn kỉ niệm.
    </p>
  </div>
  <!-- Service -->
  <div class="services">
    <!-- Khung 1 -->
    <div class="service-box one">
      <img src="assets/image/pool.jpg" alt="Bể bơi bốn mùa" />
      <div class="text">
        <h2>Bể bơi bốn mùa</h2>
        <p>
          Bể bơi bốn mùa trong nhà tọa lạc tại tầng 4 của khách sạn, với công
          nghệ làm ấm nước và ổn định nhiệt độ liên tục, là nơi quý khách có thể
          tận hưởng không gian thư giãn và rèn luyện cơ thể 4 mùa trong năm.
        </p>
      </div>
    </div>
    <!-- Khung 2 -->
    <div class="service-box one">
      <div class="text">
        <h2>Câu lạc bộ Gym & Yoga</h2>
        <p>
          Tận hưởng không gian rèn luyện sức khỏe với những trang thiết bị hiện
          đại nhất với câu lạc bộ Gym & Yoga trong khách sạn. Tiện ích miễn phí
          này đem đến cho mọi du khách những phút giây rèn luyện, thư giãn và
          phục hồi sức khỏe tuyệt vời.
        </p>
      </div>
      <img src="assets/image/gym.png" alt="Gym & Yoga" />
    </div>
  </div>
</div>
