<div class="home-container">
  <div class="image-wrapper">
    <h1>Tổng Quan</h1>
    <div class="image-overlay">
      <img src="assets/image/home.png" alt="" />
    </div>
  </div>
</div>

<div class="body-container">
  <h2 class="title">CÂU CHUYỆN THƯƠNG HIỆU</h2>
  <hr />

  <div class="small-container">
    <figure class="image-container">
      <img src="assets/image/story.jpg" alt="Story" />
    </figure>
    <h3 class="subtitle">
      Không gian tái hiện chuyện tình lãng mạn vượt thời gian
    </h3>
    <p>
      Lấy cảm hứng từ tình yêu vượt thời gian, Dé Luna Hotel tái hiện cuộc gặp
      gỡ định mệnh, những rung động lúc nhẹ nhàng, êm dịu, khi lại nồng nhiệt
      cháy bỏng của hai người yêu nhau. Và qua hàng thế kỷ, những xúc cảm đó vẫn
      vẹn nguyên, trong không gian thiên nhiên vô giá cùng cảnh sắc tuyệt hảo
      của Dé Luna Hotel.
    </p>
    <p>
      Dé Luna Hotel là nơi khởi đầu, là điểm chạm cũng là vùng kí ức lãng mạn
      diệu kì của tình yêu.
    </p>
  </div>

  <div class="table1">
    <div class="content-row">
      <div class="content-item">
        <img src="assets/image/brimming.jpg" alt="Brimming" />
        <h3 class="subtitle">
          Khai thác tinh tế vẻ đẹp đối nghịch của tình yêu
        </h3>
        <p>
          Dé Luna Hotel khai thác vẻ đẹp đối nghịch của tình yêu, lúc nồng nhiệt
          khi lại dịu êm và đưa vào trong thiết kế với cách bài trí nội thất vô
          cùng tinh tế để tạo nên không gian dịu dàng, đắm say. Những mảng màu
          ấn tượng đan xen, điểm nhấn màu trung tính tạo hiệu ứng thị giác tương
          phản, cùng các thiết kế cổ điển và hiện đại kết hợp hài hoà – tượng
          trưng cho sự khác biệt nhưng bổ trợ lẫn nhau một cách hoàn hảo.
        </p>
      </div>
      <div class="content-item">
        <h3 class="subtitle">Thiết kế dựa trên những điểm chạm hoàn hảo</h3>
        <p>
          Mỗi điểm chạm của thị giác, thính giác, khứu giác, xúc giác, vị giác
          đều được tính toán tỉ mỉ để tạo nên không gian trải nghiệm hoàn hảo,
          đưa mỗi du khách đến với các cung bậc của tình yêu, những rung động
          đẹp nhất của con tim. Trải nghiệm tuyệt vời ấy sẽ liên tục được biến
          đổi từ cảm hứng lãng mạn đan xen giữa quá khứ và hiện tại, để mỗi
          khoảnh khắc mà du khách hiện diện đều là đáng nhớ tại Dé Luna Hotel.
        </p>
        <img src="assets/image/every.jpg" alt="Every" />
      </div>
    </div>
  </div>

  <h2 class="title">TAM ĐẢO – THỊ TRẤN BỒNG BỀNH TRONG SƯƠNG</h2>
  <hr />

  <div class="small-container">
    <figure class="image-container">
      <img src="assets/image/landscape.jpg" alt="" />
    </figure>
    <h3 class="subtitle">
      Sự tĩnh lặng của khung cảnh nơi đây được ví như tiên cảnh
    </h3>
    <p>
      Sự tĩnh lặng của khung cảnh nơi đây được ví như tiên cảnh. Du khách sẽ
      chẳng bất ngờ khi đến với Dé Luna Hotel và có cảm giác thời gian như ngưng
      đọng, rồi lại tua ngược, không gian như đan xen giữa quá khứ và hiện tại
      như dẫn bạn bước vào chuyện tình cổ tích vượt thời gian.
    </p>
    <p>
      Tách biệt hoàn toàn với nhịp sống thường nhật, Dé Luna Hotel mang đến
      không gian tĩnh lặng, tạo cảm giác thời gian ngưng đọng để du khách tận
      hưởng kỳ nghỉ riêng tư và trọn vẹn.
    </p>

    <table>
      <tr>
        <td>Hà Nội</td>
        <td>70 km</td>
      </tr>
      <tr>
        <td>Sân bay Quốc tế Nội Bài</td>
        <td>50 km</td>
      </tr>
      <tr>
        <td>Chùa Tây Thiên</td>
        <td>28 km</td>
      </tr>
      <tr>
        <td>Thiện Viện Trúc Lâm</td>
        <td>21 km</td>
      </tr>
      <tr>
        <td>Vịnh Hạ Long, Quảng Ninh</td>
        <td>220 km</td>
      </tr>
    </table>
  </div>
</div>

<br />

<div class="container">
  <div class="bg-image">
    <img src="assets/image/home-bgsub.jpg" alt="Background Image" />
  </div>
  <div class="content">
    <h1 class="title1">Nhận tin tức, quà tặng & ưu đãi!</h1>
    <div class="subcribesample">
      <p>
        Ưu đãi, quà tặng đặc biệt và tin tức thú vị sẽ được gửi đến email của
        bạn.
      </p>
    </div>
    <form method="post" action="" class="subcribeform">
      <input type="email" name="email" class="email" placeholder="YOUR EMAIL" />
      <input name="sendemail" type="submit" value="SEND ME" />
    </form>
  </div>
</div>
