<!-- edit-user.component.html -->
<div class="mat-dialog-container">
  <h1 mat-dialog-title>Sửa thông tin</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.fullname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="data.phone_number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="data.gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.dob" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="data.address" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Hủy</button>
    <button mat-button (click)="save()">Lưu</button>
  </div>
</div>
