<!-- edit-user.component.html -->
<div class="mat-dialog-container">
  <h1 mat-dialog-title>Thêm khách hàng</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.fullname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="data.username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email" type="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="data.password" type="password" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Hủy</button>
    <button mat-button (click)="save()">Thêm</button>
  </div>
</div>
