/* Container Styles */

.grid-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-auto-rows: 1fr;
  margin: 0 auto;
  max-width: 70vw;
  background-color: #f8f8f8;
  padding: 2vw;
  border-radius: 1vw;
  box-shadow: 0 0.2vw 0.4vw rgba(245, 125, 125, 0.1);
}

/* Title Styles */
.account-title {
  font-size: 2.4vw;
  font-weight: bold;
  margin-bottom: 2vw;
}

/* Tabs Navigation Styles */
.tabs-container {
  margin-bottom: 2vw;
  text-align: left;
}

.tabs-list {
  list-style: none;

  padding-bottom: 1vw;
}

.tab-item {
  margin-right: 2vw;
}

.tab-button {
  background-color: #d4b089;
  border: none;
  border-radius: 0.5vw;
  padding: 1vw 2vw;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 17vw;
  text-decoration: none;
  margin-left: -2vw;
  font-size: 12px;
}

.tab-button i {
  margin-right: 0.8vw;
}

.tab-button:hover {
  background-color: #8b5c4c;
}

/* Content Styles */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
  padding: 2vw;
}

.profile-title {
  font-size: 18px;
  font-weight: bold;
}

.divider {
  margin-top: 2vw;
  border: none;
  border-top: 0.1vw solid #ccc;
}

/* Information Section Styles */
.profile-info {
  background-color: #f4f4f4;
  padding: 2vw;
  border-radius: 0.5vw;
  margin-top: 1vw;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}

.info-label {
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

label {
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

.info-value {
  color: #333;
  font-size: 14px;
}

/* Edit Button Styles */
.edit-link {
  text-decoration: none;
}

.edit-button {
  background-color: transparent;
  border: none;
  color: #8b5c4c;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.edit-button i {
  margin-right: 0.5vw;
}

a {
  text-decoration: none;
}

.empty {
  text-align: center;
  margin-top: 2vw;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.s-button {
  background-color: #d4b089;
  border: none;
  border-radius: 0.5vw;
  padding: 1vw 2vw;
  color: black;
  cursor: pointer;
  align-items: center;
  width: 170px;
  text-decoration: none;
  font-size: 14px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .grid-container {
    padding: 3vw;
  }
}
