<body>
  <footer>
    <div class="logo">
      <img src="assets/image/logo.png" alt="Logo" height="100" />
      <!-- Đã tăng chiều cao logo lên 70px -->
    </div>
    <div class="footer-columns">
      <div class="column">
        <h3>RRESERVATIONS</h3>
        <div>
          <span style="font-size: 15px"><strong>LỄ TÂN</strong></span>
          <span>Hotline: 0853527685</span>
          <span>Địa chỉ: Đ. Mạc Đĩnh Chi, TP. HCM</span>
          <span>Email: trangdt22406c&#64;st.uel.edu.vn</span>
        </div>
        <div class="office-spacing">
          <span style="font-size: 15px"><strong>VĂN PHÒNG HÀ NỘI</strong></span>
          <span>Điện thoại: 098-765-432</span>
          <span>Địa chỉ: 456 Đường XYZ, Hà Nội</span>
          <span>Email: hanoi&#64;example.com</span>
        </div>
      </div>
      <div class="column">
        <h3>KHÁCH SẠN</h3>
        <a routerLink="/homepage" routerLinkActive="active">Trang chủ</a>
        <a routerLink="/home" routerLinkActive="active">Tổng quan</a>
        <a routerLink="/room" routerLinkActive="active">Phòng nghỉ</a>
        <a routerLink="/dining" routerLinkActive="active">Nhà hàng</a>
        <a routerLink="/meeting" routerLinkActive="active"
          >Hội nghị và sự kiện</a
        >
        <a routerLink="/service" routerLinkActive="active"
          >Dịch vụ và tiện ích</a
        >
      </div>
      <div class="column">
        <h3>VỀ CHÚNG TÔI</h3>
        <a routerLink="home">Tổng quan</a>
      </div>
    </div>
  </footer>
</body>
